.container {
  width: 100%;
  color: white;
}
.top {
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 82px);
}
